## Ignore virtual environment folders
env/
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore data file (optional: if you don't want to upload storage.csv)
storage.csv

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE related files
.vscode/
.idea/


